#categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30rem;
  height: 100vh;
  border-right: 1px solid rgb(255, 255, 255);
  margin-right: 20px;
  padding-right: 20px;
  p {
    font-size: 1.5rem;
  }
  p:hover {
    scale: 1.05;
  }
}
.ligneStyle {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  gap: 5rem;
  padding-right: 15px;
  img {
    width: 40px;
  }
}
.ligneStyle:hover {
  background-color: #ffffff53;
  border-radius: 10px;
}
.ligneStyle-left {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
